*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

		/*звездочка вместо текста*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset.css*/

body{
	font-family: 'Lato', sans-serif;
}
.wrapper{
    max-width:1600px;
    width:100%;
    margin:0 auto;
}
.center{
    max-width:1150px;
    width:100%;
    margin:0 auto;
}
header{
    height:100px;
    background-color:#f6f9f9;   
}
header .logo_text{
	font-size: 30px;
	font-weight: bold;
	position: relative;
	top: -5px;
	left: 10px;
}
header .logo{
	margin-top: 30px;
}
.container2{
	background-image: url('/images/top_background.png');
	background-repeat: no-repeat;
	/* height: 800px; */
	height: 100vh;
	max-height: 800px;
}
.container2 h1{
	text-align: center;
	font-size: 120px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 20vh;

}
.container2 i{
	display: block;
	width: 600px;
	height: 2px;
	background: #5ea2f7;
	margin: 0 auto;
	margin-top: 3vh;

}
.container2 .desc{
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	margin-top: 5vh;
}

.container2 .btn{
	text-align: center;
	margin-top: 10vh;
}
.container2 .btn a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	border: 1px solid #5d9be8;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;  /* padding 20 35*/

}
.container2 .btn a:hover{
	background: #5d9be8;
	font-size: 20px;
	border-radius: 3px;
}
.container3{
	background-color: #f7f9f9;
	height: 340px;
	
}
.container3 h3{
	text-align: center;
	font-size: 40px;
	color: #343c50;
	padding-top: 10vh;
}
.container3 .descr{
	text-align: center;
	font-size: 20px;
	color: #989898;
	margin-top: 3vh;
	line-height: 1.5;

}
.container4{
	background-color: #ffffff;
	height: 340px;
	
}
.container4 .blocks{
	display: flex;
	flex-wrap: wrap;
	height: 340px;

	
}
.container4 .logo_phone{
	position: relative;
	width: 35%;
	height: 100px;
	
	margin-left: 100px;
	margin-top: 60px;
}
.container4 img{                   
	position: relative;
	left: 70px;
}	
.container4 h4{
	text-align: center;
	font-size: 22px;
	position: relative;
	right: 25%;
	padding-top: 35px;
	width: 300px;            
	color:#494f61;
}
.container4 p{
	text-align: center;  
	color:  #cbcbcb;
	position: relative;
	font-size: 15px;
	padding-top: 20px;
	line-height: 1.5;
	right: 25%;
	width: 300px;           
}
.container4 .logo_telegram{
	position: relative;
	width: 35%;
	height: 100px;
	margin-top: 60px;
	margin-left: 35px;
}
.container4 .logo_loud{
	width: 35%;
	height: 100px;
	margin-top: 60px;
	margin-left: 35px;
	
}
.first-block, .second-block, .third-block{                 
	align-items: center; 
}
.container5{
	background-image: url('/images/bottom_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	
	
	width: 1600px; 
	height: 620px;
	/* max-height: 700px; */
}
.container5 h3{
	text-align: center;
	font-size: 41px;
	
	color: #ffffff;
	padding-top: 5vh;
}
.container5 h4{
	text-align: center;
	font-size: 15px;
	color: #6e7178;
	padding-top: 3vh;
}
.container5 .first_block input{
	
	margin-top: 3vh;
	margin-left: 210px;
	background-color: rgba(255, 0, 0, 0) ;
	font-size: 15px;
	text-decoration: none;
	color: #6e7178;
	border: 2px solid  #6e7178;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 520px; 
}
.container5 .first_block input::placeholder{
	position: relative;
	left: 20px;
}
.container5 .second_block input{
	margin-left: 210px;
	margin-top: 2vh;
	font-size: 15px;
	text-decoration: none;
	color: #6e7178;
	background-color: rgba(255, 0, 0, 0) ;
	border: 2px solid  #6e7178;
	border-radius: 3px;
	padding-top: 20px; 
	padding-bottom: 20px ;
	padding-left: 0px;
	padding-right: 520px;	
}
.container5 .second_block input::placeholder{
	position: relative;
	left: 20px;
}
.container5 .third_block input{
	position: relative;
	margin-left: 210px;
	margin-top: 2vh;
	font-size: 15px;
	text-decoration: none;
	color: #6e7178;
	background-color: rgba(255, 0, 0, 0) ;
	border: 2px solid  #6e7178;
	border-radius: 3px;
	padding-top: 60px;
	padding-bottom: 60px ;
	padding-left: 0px;
	padding-right: 520px;
}
.container5 .third_block input::placeholder{
	position: relative;
	top: -40px;
	left: 20px;
}
.container5 .forth_block{
	position: relative;
	color: #ffffff;
	margin-top: 3vh;
	margin-left: 22vh;
	font-size: 15px;
}
.container5 .btn2{
	position: relative;
	text-align: right;
	margin-right: 26.2vh;
	margin-top:-10px;
}
.container5 .btn2 a{
	
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	border: 1px solid #5d9be8;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
.container5 .btn2 a:hover{
	background: #5d9be8;
	font-size: 20px;
	border-radius: 4px;
}
footer{
    height:90px;
	background-color:#f7f9f9;   
}
footer .span_text{
	font-size: 15px;
	color: #989898;
	position: relative;
	top: 40px;
	
}
.container6 .icons{
	display: flex;
	flex-wrap: wrap;
	
}
.container6 .Facebook, .Twitter, .Google, .in{
	position: relative;
}
.container6 .Facebook{
	text-align: right;
	margin-left: 950px;
	margin-right: 5px;
}
.container6 .Twitter{
	text-align: right;
	margin-right: 5px;
}
.container6 .Google{
	text-align: right;
	margin-right: 5px;
}


